/* element-ui 样式覆盖文件 */

/** button */
.el-button {
  width: 100%;
  border-radius: 0;
  background: #1f7ecf;
  border: none;
}

/** alert */
.el-message--success {
  background-color: #2acba7;
  border-color: #2acba7;
}
.el-message--warning {
  background-color: #E6A23C;
  border-color: #E6A23C;
}
.el-message--error {
  background-color: #F56C6C;
  border-color: #F56C6C;
}
.el-message .el-icon-success,
.el-message .el-icon-warning,
.el-message .el-icon-error,
.el-message__closeBtn,
.el-message--success .el-message__content,
.el-message--warning .el-message__content,
.el-message--error .el-message__content {
  color: #fff;
}

/** confirm-box */
.el-message-box {
  background-color: #36393E;
  border: 1px solid #36393E;
}
.el-message-box .el-message-box__content {
  color: #fff;
}
.el-message-box .el-button {
  background: #909399;
  color: #fff;
  border: 1px solid #909399;
  width: auto;
}
.el-message-box .el-button--primary {
  background: #1f7ecf;
  color: #fff;
  border: 1px solid #1f7ecf;
}

/** loading */
.el-loading-mask {
  background-color: rgba(0, 0, 0, 0) !important;
}

/** input */
.el-input input {
  border-radius: 0 !important;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
}
.el-input input:focus {
  border-color: inherit
}

/** checkbox */
.el-checkbox .el-checkbox__inner {
  background: none !important;
  border-radius: 0;
}
.el-checkbox .el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: inherit;
}
.el-checkbox .el-checkbox__label {
  color: #fff !important;
}

/** date-picker */
.el-date-editor,
.el-date-editor .el-range-input,
.el-date-editor.el-input input {
  background: transparent !important;
}
.el-date-editor .el-range-separator,
.el-date-editor .el-range-input {
  color: #fffffe;
}
.el-date-editor {
  border: solid 1px #808080;
  border-radius: 4px;
}

.el-picker-panel {
  background: #292c31;
  color: #fff;
  border: none;
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.65);
}

.el-picker-panel .popper__arrow,
.el-picker-panel .popper__arrow::after {
  border-bottom-color: #292c31 !important;
}
.el-picker-panel .el-date-table td.in-range div {
  background-color: #505050;
}
.el-picker-panel .el-picker-panel__icon-btn{
  color: #fff;
}
.el-picker-panel .el-date-table th {
  border-bottom: solid 1px #606266;
}
.el-picker-panel .el-date-range-picker__content.is-left {
  border-right: solid 1px #606266;
}
/** select */
.el-select {
  border: solid 1px #808080;
  border-radius: 4px;
}
.el-select .el-input__inner {
  background: transparent !important;
}
.el-select-dropdown {
  background: #292c31;
  border: none;
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.65);
}
.el-select-dropdown .el-select-dropdown__item {
  color: #fffffe;
}
.el-select-dropdown .el-select-dropdown__item.hover,
.el-select-dropdown .el-select-dropdown__item:hover {
  background-color: transparent;
  color: #409EFF;
}
.el-select-dropdown .popper__arrow::after {
  border-bottom-color: #292c31 !important;
}
.el-select-dropdown .popper__arrow {
  border-bottom-color: transparent !important;
}

/** table */
.el-table {
  color: #b3b3b3;
}
.el-table::before {
  background: transparent;
}
.el-table, .el-table tr, .el-table th, .el-table td{
  background: transparent;
}
.el-table th {
  border-bottom: 0.12rem solid #fff !important;
}
.el-table td {
  border-bottom: 0.12rem solid #4c4c4c;
}
.el-table .el-table__body .el-table__row:last-child td {
  border-bottom: none;
}
.el-table .el-table__header thead {
  color: #fff;
}
.el-table .el-table__body tr:hover>td {
  background:transparent;
}
.el-table .el-button {
  width: auto;
}

/* 后续删除 */
.el-dialog__title,.el-form-item__label{
  color: #ffffff;
}
.el-dialog--center .el-dialog__body{
padding: 25px 66px;
}

/*弹框*/
/* dialog公共样式 */
.el-dialog{
  background: #36393E;
}
.v-modal{
  opacity:.7;
}
.el-dialog .el-dialog__headerbtn .el-dialog__close{
  color: #ffffff;
  font-size:1.4rem;
}
.el-dialog .el-dialog__header {
  padding-top: 2.5rem;
}
.el-dialog .el-dialog__body {
  padding-top: 2.08rem;
  padding-bottom: 6rem;
}
.el-dialog .el-input,
.el-dialog .el-select ,
.el-dialog .el-textarea {
  width: 25rem;
  border: none;
}

.el-dialog .el-input input,
.el-dialog .el-select .el-input,
.el-dialog .el-textarea .el-textarea__inner {
  width: 100%;
  border-radius: 0 !important;
  background: #5e6165;
  border: none;
  color: #fff;
}

/* dialog 表单样式 */
.el-dialog .form-row {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.el-dialog .el-form-item /deep/ .el-form-item__label {
  line-height: 3rem;
  color: #fff;
  text-align: right;
  font-size: 1.17rem;
  padding-right: 2.2rem;
}
.el-dialog .form-tip {
  color: red;
  line-height: 3rem;
  padding-left: 1.6rem;
}
.el-dialog .btn-submit {
  width: 25rem;
  border-radius: 0;
  background: #1f7ecf;
  border: none;
}
.el-dialog .el-textarea__inner{
  font-family:inherit;
}

/* dialog详情样式 */
.el-dialog .label-name {
  color: #b6b6b6;
  text-align: right;
  font-size: 1.17rem;
}
.el-dialog .label-value {
  padding-left: 1.92rem;
  color: #ffffff
}
.el-dialog .label-sug {
  padding: 0 3rem;
}
.el-dialog .label-row {
  margin-top: 0.5rem;
  line-height: 3rem;
}
.el-dialog .label-row .el-textarea,
.el-dialog .label-sug .el-textarea,
.el-dialog .label-row .el-input,
.el-dialog .label-sug .el-input,
.el-dialog .label-row .el-select,
.el-dialog .label-sug .el-select {
  width: 100%;
}
.el-dialog .btn-reject,
.el-dialog .btn-pass {
  width: 100%;
  border-radius: 0;
  border: none;
  margin-top: 5rem;
  height: 3.33rem;
}
.el-dialog .btn-reject {
  background: #ff5d66;
}
.el-dialog .btn-pass {
  background: #0fb691;
}

/*分页*/
.el-pagination{
  margin-top:5rem;
  text-align: center;
}
 .el-pager li:hover, .el-pager li.active{
color: #ffffff;
background-color: #1f7ecf;
}
 .el-pager li, .el-pagination .btn-next, .el-pagination .btn-prev{
background-color:#36393E;
color: #b3b3b3;
}
.el-pagination button:disabled{
  background-color: transparent;
}
.el-pager li.btn-quicknext, .el-pager li.btn-quickprev{
  color: #b3b3b3;
}


/**表单提示 */
.el-form-item__error {
  z-index: 10
}
